* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}

html, body {
    font-family: 'Inter', sans-serif;
    background-color: #34476d;
}

.wrapper {
    min-height: 100%;
    max-width: 1600px;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 500px;
    height: 60px;
    border-radius: 30px;
    padding: 0 10px;
    margin-bottom: 15px;
}

.input:focus {
    outline: 1px solid rgb(123, 70, 151);
}

.tag__cell {
    background-color: #87ccd1;
    padding: 15px;
    border-radius: 10px; 
}
