* {
    box-sizing: border-box;
}

#parent {
    margin: 0 auto;
    width: 500px;
}

#form {
    display: flex;
    margin-bottom: 30px;
}

#form input {
    padding: 8px;
    width: 35%;
    margin: 0 0.5% 10px 0.5%;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 7px;
}

table {
    width: 100%;
    margin-bottom: 10px;
}

table td, table th {
    padding: 12px;
    text-align: center;
    border: 1px solid rgb(107, 95, 95);
}

table td.remove {
    color: rgb(255, 0, 0);
    cursor: pointer;
}

table td.remove:hover {
    text-decoration: none;
}

